@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Forum&display=swap";
.btn {
  letter-spacing: .1rem;
  text-transform: capitalize;
  text-align: center;
  color: #0c0c0e;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #0c0c0e;
  border-radius: .2rem;
  min-width: 7.5rem;
  margin-top: auto;
  padding: .9rem 2.6rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  transition: all .3s ease-in-out;
}

.btn:hover {
  background-color: #bb945f;
  border: 1px solid #bb945f;
}

.btn:active {
  background-color: #bb945f;
  box-shadow: 3px 3px 3px 1px #0000004d;
}

.btn--large {
  letter-spacing: 1px;
  text-transform: none;
  min-width: 24.2rem;
  margin-top: 2.3rem;
  padding: 1rem 4rem;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}

.form__sign-up_buttons {
  gap: 2rem;
  display: flex;
}

.form__sign--btn {
  padding: .9rem 1.5rem;
}

.btn--disabled {
  color: #bb945f;
  cursor: not-allowed;
  background-color: #fff;
  border: 1px solid #bb945f;
}

.btn--disabled:hover {
  cursor: not-allowed;
  background-color: #fff;
}

.btn--disabled:active {
  background-color: #fff;
  box-shadow: 3px 3px 3px 1px #ffffff1a;
}

.list {
  list-style: none;
}

.link:link, .link:visited {
  text-decoration: none;
  transition: all .3s ease-in-out;
  display: inline-block;
}

.link:hover {
  color: #ecd1ac;
  cursor: pointer;
  text-decoration: underline;
}

.link:active {
  color: #bb945f;
  text-decoration: none;
}

.slider {
  flex-direction: column;
  display: flex;
}

.slider__cards {
  justify-content: space-between;
  padding: 1.9rem 0 2.8rem;
  display: flex;
}

.slider__pagination {
  justify-content: center;
  column-gap: 1rem;
  transition: all 2s ease-in-out;
  display: flex;
}

.pagination-dot {
  cursor: pointer;
  background-color: #000;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
}

.pagination-dot:before {
  content: "";
  border-radius: 50%;
  display: block;
  position: absolute;
  inset: -.5rem;
}

.active-dot {
  background-color: #bb945f;
}

.header__navigation {
  align-items: center;
  gap: 4rem;
  display: flex;
}

.navigation__items {
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  line-height: 5rem;
  display: flex;
}

.header {
  background-color: #0c0c0e;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  display: flex;
}

.logo {
  letter-spacing: .6px;
  font-family: Forum, serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 5rem;
}

.header__icon {
  padding-top: 1rem;
}

.section {
  background-color: #fff;
  padding: 2rem 2rem 4rem;
}

.section__welcome {
  background: url("welcome.a7cb6deb.png") 0 0 / contain no-repeat;
  min-height: 60rem;
  position: relative;
}

.section__welcome_heading {
  background-color: #0c0c0e;
  max-width: 61rem;
  margin-top: 20rem;
  padding: 3.5rem 4rem;
  position: absolute;
  left: 0;
}

.seasons {
  align-items: center;
  gap: 3.1rem;
  margin-top: 3.6rem;
  margin-bottom: 3rem;
  display: flex;
}

.season-select {
  gap: 2rem;
  display: flex;
}

.radio {
  cursor: pointer;
  align-items: center;
  margin-right: 6rem;
  display: inline-flex;
}

.radio__input {
  opacity: 0;
  position: absolute;
}

.radio__radio {
  border: 2px solid #000;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 2rem;
  padding: 3px;
}

.radio__radio:after {
  content: "";
  background-color: #000;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: transform .15s;
  display: block;
  transform: scale(0);
}

.radio__input:checked + .radio__radio:after {
  transform: scale(1);
}

.books {
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  align-items: start;
  gap: 4rem 22rem;
  display: grid;
}

.book {
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  position: relative;
}

.coffeeshop__description {
  text-align: center;
  letter-spacing: 2px;
}

.coffeeshop__content {
  grid-template-columns: 1fr 1fr;
  gap: 46.2rem;
  display: grid;
}

.column--second {
  width: 48.2rem;
}

.column--first div {
  margin-right: 2.2rem;
}

.price-list__list {
  flex-direction: column;
  gap: 4rem;
  display: flex;
}

.price-list__item {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.price-list__description {
  letter-spacing: 2px;
  text-transform: capitalize;
  width: 100%;
  max-width: 23.3rem;
  font-family: Inter;
  font-weight: 400;
}

.price-list__line {
  background-color: #bb945f;
  width: 100%;
  max-width: 10rem;
  height: 1px;
}

.price-list__value {
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: Forum;
}

.column--second h4 {
  text-align: right;
}

.contacts {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  display: grid;
}

.section__cards .section-title {
  margin-top: -1rem;
}

.section__cards_info {
  justify-content: space-between;
  display: flex;
}

.input-card {
  box-sizing: border-box;
  background-color: #bb945f;
  max-width: 56rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  display: inline-block;
}

.form__sign {
  flex-direction: column;
  align-items: flex-end;
  gap: 3.5rem;
  display: flex;
}

.form__check form {
  border: 3px solid #bb945f;
  flex-direction: column;
  align-items: center;
  margin-bottom: .3rem;
  padding: 2rem 1.8rem 2.5rem 2rem;
  display: flex;
}

.footer {
  background-color: #0c0c0e;
  padding: 2rem;
}

.footer__info {
  border-bottom: 1px solid #fff;
  justify-content: space-between;
  padding-bottom: 2rem;
  display: flex;
}

.footer__info_schedule {
  text-align: end;
  font-size: 1.5rem;
  line-height: 2rem;
}

.footer__info_schedule p {
  margin-bottom: 1rem;
}

.footer__copyright {
  letter-spacing: 2px;
  justify-content: space-between;
  padding-top: 3.5rem;
  display: flex;
}

.social-links {
  align-items: center;
  gap: 1.5rem;
  display: flex;
}

.footer__info_contacts-address {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.copyright {
  margin-left: 13rem;
}

*, :before, :after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: #000;
  background-color: #8e8e8e1a;
  max-width: 144rem;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem;
}

.text--light {
  color: #fff;
}

.text--dark {
  color: #0c0c0e;
}

.text--black {
  color: #000;
}

.primary-title {
  letter-spacing: .3rem;
  text-transform: uppercase;
  text-align: center;
  flex-direction: column;
  padding: 0 8rem;
  font-family: Forum, serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 5rem;
  display: flex;
}

.primary-title span:first-child {
  padding-right: 1rem;
}

.section-title {
  letter-spacing: .2rem;
  text-transform: capitalize;
  color: #0c0c0e;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 6.1rem;
  font-family: Forum, serif;
  font-size: 4rem;
  font-weight: 400;
  position: relative;
}

.section-title:after {
  content: "";
  border-bottom: 1px solid #0c0c0e;
  width: 5rem;
  height: 1px;
  position: absolute;
  bottom: 4.1rem;
  left: 50%;
  transform: translateX(-50%);
}

.form-title {
  font-weight: 700;
  line-height: 2rem;
}

.section__about_text {
  text-align: center;
}

.book__tag {
  letter-spacing: .2rem;
  text-transform: capitalize;
  font-family: Forum, serif;
  display: block;
  position: relative;
}

.book__tag:after {
  content: "";
  border-bottom: 1px solid #bb945f;
  width: 6rem;
  height: 1px;
  position: absolute;
  bottom: -.1rem;
  left: 2.9rem;
  transform: translateX(-50%);
}

.book__title {
  letter-spacing: .2rem;
  text-transform: uppercase;
  padding-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.book__title_author {
  letter-spacing: .2rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
}

.book__description {
  letter-spacing: .2rem;
  text-transform: capitalize;
  max-width: 65%;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.book__img {
  object-fit: cover;
  z-index: 2;
  width: 20rem;
  height: 30rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.book__border {
  pointer-events: none;
  border: 1px solid #000;
  width: 93.5%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.price-list__title {
  letter-spacing: .2rem;
  text-transform: capitalize;
  color: #bb945f;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: Forum, serif;
  font-size: 4rem;
  font-weight: 400;
}

.coffeeshop__column:last-child .price-list__title {
  text-align: end;
}

.contacts__info_list {
  letter-spacing: 2px;
  text-transform: capitalize;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem 0;
  display: flex;
}

.contacts__info > p {
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-weight: 700;
}

.contacts__info > span {
  letter-spacing: 2px;
  text-transform: capitalize;
}

.form__check_name {
  letter-spacing: .6px;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  line-height: 3rem;
}

.form__sign_name {
  letter-spacing: .6px;
  font-family: Forum, serif;
  font-size: 3rem;
  line-height: 3rem;
}

.form__sign_text {
  text-align: right;
  letter-spacing: .4px;
}

.form__check_card-name {
  letter-spacing: .6px;
  font-family: Forum, serif;
  font-size: 3rem;
  line-height: 5rem;
}

.card-input {
  color: #8e8e8e;
  letter-spacing: .6px;
  border: 1px solid #fff;
  border-radius: 1rem;
  width: 52rem;
  height: 6.6rem;
  margin: 2rem 0 .5rem;
  padding-left: 2rem;
  font-family: Forum, serif;
  font-size: 3rem;
  line-height: 5rem;
}

/*# sourceMappingURL=index.b10d73a7.css.map */
