@use "../abstracts" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  max-width: 144rem;
  box-sizing: border-box;
  margin: 0 auto;
  @include text($size: 2rem, $height: 4rem, $weight: 400, $transform: none);
  font-family: $font-prim;
  color: $color-text-dark;
  background-color: rgba($color-grey, 0.1);
}
