@use "../abstracts" as *;

.text--light {
  color: $color-text-light;
}
.text--dark {
  color: $color-secondary;
}
.text--black {
  color: $color-text-dark;
}

.primary-title {
  @include text(4rem, $font-weight-normal, 0.3rem, uppercase);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $serif;
  line-height: 5rem;
  padding: 0 8rem;

  & span:first-child {
    padding-right: 1rem;
  }
}

.section-title {
  @include text(4rem, $font-weight-normal, 0.2rem, capitalize);
  font-family: $serif;
  color: $color-secondary;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  padding-bottom: 6.1rem;

  &::after {
    content: "";
    border-bottom: 1px solid $color-secondary;
    position: absolute;
    width: 5rem;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4.1rem;
  }
}

.paragraph {
  text-align: left;

  &--center {
    text-align: center;
  }
  &--end {
    text-align: right;
  }
  &--start-footer {
    color: $color-text-light;
  }
  &--end-footer {
    text-align: right;
    color: $color-text-light;
  }
  &--footer {
    color: $color-text-light;
  }
}

.form-title {
  line-height: 2rem;
  font-weight: $font-weight-bold;
}
///////////////////////////////////////////////////////////////////////
.book__tag {
  font-family: $serif;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.book__title {
  @include text(1.5rem, $font-weight-bold, 0.2rem, uppercase);
  padding-top: 2rem;

  &_author {
    @include text(1.5rem, $font-weight-bold, 0.2rem, capitalize);
  }
}

.book__description {
  @include text(1.5rem, $font-weight-normal, 0.2rem, capitalize);
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  max-width: 65%;
}

.book__img {
  position: absolute;
  width: 20rem;
  height: 30rem;
  object-fit: cover;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.book__border {
  position: absolute;
  width: 93.5%;
  height: 100%;
  border: 1px solid $color-text-dark;
  left: 0;
  top: 0;
  pointer-events: none;
}
////////////////////
.section-title--coffeeshop {
  @include text(4rem, $font-weight-normal, 0.2rem, capitalize);
  color: $color-primary;
  font-family: $serif;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.coffeeshop__menu_desserts .section-title--coffeeshop {
  text-align: end;
}

/////////////////////////////
.contacts__info_list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  letter-spacing: 2px;
  margin: 4rem 0;
  text-transform: capitalize;
}

.contacts__info > p {
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.contacts__info > span {
  letter-spacing: 2px;
  text-transform: capitalize;
}
//////////////////////
.form {
  &__check_name {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0.6px;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__sign_name {
    font-family: $serif;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0.6px;
  }
}

.form__sign_text {
  text-align: right;
  letter-spacing: 0.4px;
}

.form__check_card-name {
  font-family: $serif;
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.6px;
}

.card-input {
  border: 1px solid $color-text-light;
  border-radius: 1rem;
  width: 52rem;
  height: 6.6rem;
  color: $color-grey;
  font-family: $serif;
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.6px;
  padding-left: 2rem;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
