@use "../abstracts" as *;

.list {
  list-style: none;
}

.link {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    @extend %transition;
  }

  &:hover {
    text-decoration: underline;
    color: #ecd1ac;
    cursor: pointer;
  }

  &:active {
    text-decoration: none;
    color: $color-primary;
  }
}
