@use "../abstracts" as *;

.slider-container {
  display: flex;
  flex-direction: column;

  @include media-tablet-port {
    flex-direction: row;
  }
}

.slider__cards {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.9rem 0 4rem 0;

  @include media-tablet-port {
    align-self: center;
    padding-bottom: 2.5rem;
    // padding-bottom: 4rem;
  }
}

.card-hidden {
  @include media-tablet-port {
    display: none;
  }
}

.slider__card_img {
  display: flex;
  object-fit: cover;
  flex-wrap: wrap;
  max-width: 100%;
}

.slider__arrow {
  display: none;

  @include media-tablet-port {
    display: block;
    flex: 1;
    padding-top: 3.6rem;
  }
}

.slider__pagination {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  @extend %transition;
}

.pagination-dot {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: $color-text-dark;
  position: relative;
}

.dot-hidden {
  display: none;
  @include media-tablet-port {
    display: block;
  }
}

.pagination-dot:before {
  content: "";
  position: absolute;
  display: block;
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  // background: rgba(255, 0, 0, 0.09);
  border-radius: 50%;
}

.active-dot {
  background-color: $color-primary;
}
