@use "../abstracts" as *;

.footer {
  padding: 2rem 2rem 4rem 2rem;
  background-color: $color-secondary;
}
.footer {
  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    border-bottom: 1px solid $color-text-light;
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 4.4rem;
}
