@use "../abstracts" as *;

.footer {
  padding: 2rem 2rem 2rem 2rem;
  background-color: $color-secondary;
}

.footer {
  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-text-light;

    &_schedule {
      text-align: end;
      font-size: 1.5rem;
      line-height: 2rem;

      & p {
        margin-bottom: 1rem;
      }
    }
  }
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 3.3rem;
  letter-spacing: 2px;

  @include media-mobile-large {
    font-size: 1.6rem;
  }
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer__info_contacts-address {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}
.copyright {
  margin-left: 14rem;

  @include media-tablet-port {
    margin-left: 8rem;
  }
}
