@use "../abstracts" as *;

.header {
  background-color: $color-secondary;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: $serif;
  font-weight: $font-weight-normal;
  font-size: 3rem;
  line-height: 5rem;
  letter-spacing: 0.6px;
}

.header__icon {
  padding-top: 1rem;
}
