@use "../abstracts" as *;

.header {
  background-color: $color-secondary;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  padding-top: 1rem;
}
