@use "../abstracts" as *;

.section {
  padding: 2rem 2rem 4rem 2rem;
  background-color: $color-text-light;
}
// WELCOME ////////////////////////////////////////////////////////////////////////////
.section__welcome {
  background: url(../source/images/welcome.png),
    linear-gradient(
      rgb(12, 12, 14) 0%,
      rgb(12, 12, 14) 0.01%,
      rgba(18, 18, 21, 0.1) 100%
    );
  min-height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &_heading {
    max-width: 61rem;
    padding: 3.5rem 4rem;
    background-color: $color-secondary;
    margin-top: 20rem;
    position: absolute;
    left: 0;
  }
}
// ABOUT ////////////////////////////////////////////////////////////////////////////

// FAVORITES ////////////////////////////////////////////////////////////////////////////
.seasons {
  display: flex;
  align-items: center;
  gap: 3.1rem;
  margin-bottom: 3rem;
  margin-top: 3.6rem;

  @include media-mobile-large {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.season-select {
  display: flex;
  gap: 2rem;
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 6rem;

  @include media-mobile-large {
    margin-right: 3rem;
  }

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__radio {
    width: 1.7rem;
    height: 1.7rem;
    border: 2px solid $color-text-dark;
    border-radius: 50%;
    padding: 3px;
    margin-right: 2rem;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: $color-text-dark;
      border-radius: 50%;
      transform: scale(0);
      transition: transform 0.15s;
    }
  }
}

.radio__input:checked + .radio__radio::after {
  transform: scale(1);
}

///////////////////////////////////////////////////////////////
.books-selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 22rem;
  row-gap: 4rem;

  @include media-desktop {
    column-gap: 3rem;
    margin: 0 7rem;
    grid-template-columns: 1fr;
  }

  @include media-mobile-large {
    margin: 1rem;
  }
}

.book {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 2rem;
  height: 100%;

  @include media-tablet-port {
    max-width: 75rem;
    min-height: 55.5rem;
  }
}

.book__img {
  position: absolute;
  width: 20rem;
  height: 30rem;
  object-fit: cover;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.book__border {
  position: absolute;
  width: 93.5%;
  height: 100%;
  border: 1px solid $color-text-dark;
  left: 0;
  top: 0;
  pointer-events: none;
}

// COFFEE SHOP ////////////////////////////////////////////////////////////////////////////
.coffeeshop__description {
  text-align: center;
  letter-spacing: 2px;
}
.coffeeshop__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 46.2rem;

  @include media-desktop {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  @include media-tablet-port {
    gap: 0rem;
  }
}
.coffeeshop__column {
  @include media-tablet-port {
    width: 66%;
    gap: 0rem;
  }
  @include media-mobile-large {
    width: 100%;
  }
}

.column-first div {
  margin-right: 2.2rem;

  @include media-desktop {
    // margin-right: 64.6rem;
  }
  @include media-tablet-port {
    margin-right: 4.6rem;
  }
  @include media-mobile-large {
    margin-right: 0;
  }
}

.column-second {
  width: 48.2rem;
  text-align: right;

  @include media-desktop {
    width: 100%;
    text-align: left;
  }
  @include media-tablet-port {
    width: 48.2rem;
    margin-left: 24.6rem;
    text-align: right;
  }
  @include media-mobile-large {
    width: 100%;
    margin-left: 0rem;
    text-align: left;
  }
}

.coffeeshop__column:last-child .price-list__title {
  text-align: end;

  @include media-desktop {
    text-align: start;
  }
  @include media-tablet-port {
    text-align: end;
  }
  @include media-mobile-large {
    text-align: start;
  }
}

.price-list__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.price-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-list__description {
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  font-weight: 400;
  max-width: 23.3rem;
  width: 100%;
}

.price-list__line {
  height: 0.1rem;
  max-width: 10rem;
  width: 100%;
  background-color: $color-primary;
}

.price-list__value {
  font-family: $font-add;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

// OUR CONTACTS ////////////////////////////////////////////////////////////////////////////
.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @include media-tablet-land {
    grid-template-columns: 1fr;
    gap: 10rem;
  }
}

.contacts__map img {
  object-fit: cover;
  flex-wrap: wrap;
  max-width: 100%;

  @include media-tablet-port {
    padding-left: 1.7rem;
  }
  @include media-mobile-large {
    padding-left: 0rem;
  }
}

// DIGITAL LIBRARY CARDS ////////////////////////////////////////////////////////////////////////////
.section__cards .section-title {
  margin-top: -1rem;
}

.section__cards_info {
  display: flex;
  justify-content: space-between;

  @include media-desktop {
    flex-direction: column;
    align-items: center;
  }
}

.input-card {
  box-sizing: border-box;
  display: inline-block;
  background-color: $color-primary;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  max-width: 56rem;
}

///////////////////////////////////
.form__check {
  @include media-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.3rem;
  }
}

.form__check form {
  border: 3px solid $color-primary;
  padding: 2rem 1.6rem 2.5rem 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @include media-desktop {
    max-width: 60rem;
  }
}
.form__sign {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3.5rem;
  max-width: 45.6rem;

  @include media-desktop {
    gap: 4rem;
    align-items: center;
    max-width: 60rem;
  }
}
