@use "../abstracts" as *;

.section {
  padding: 2rem 2rem 4rem 2rem;
  background-color: $color-text-light;
}
// WELCOME ////////////////////////////////////////////////////////////////////////////
.section__welcome {
  background: url(../source/images/welcome.png);
  min-height: 60rem;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;

  &_heading {
    max-width: 61rem;
    padding: 3.5rem 4rem;
    background-color: $color-secondary;
    margin-top: 20rem;
    position: absolute;
    left: 0;
  }
}
// ABOUT ////////////////////////////////////////////////////////////////////////////

// FAVORITES ////////////////////////////////////////////////////////////////////////////
.seasons {
  display: flex;
  align-items: center;
  gap: 3.1rem;
  margin-bottom: 3rem;
  margin-top: 3.6rem;
}

.season-select {
  display: flex;
  gap: 2rem;
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 6rem;

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__radio {
    width: 1.7rem;
    height: 1.7rem;
    border: 2px solid $color-text-dark;
    border-radius: 50%;
    padding: 3px;
    margin-right: 2rem;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: $color-text-dark;
      border-radius: 50%;
      transform: scale(0);
      transition: transform 0.15s;
    }
  }
}

.radio__input:checked + .radio__radio::after {
  transform: scale(1);
}

///////////////////////////////////////////////////////////////
.books {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  align-items: start;
  column-gap: 22rem;
  row-gap: 4rem;
}

.book {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 2rem;
  height: 100%;
}

// COFFEE SHOP ////////////////////////////////////////////////////////////////////////////
.coffeeshop__description {
  text-align: center;
  letter-spacing: 2px;
}

.coffeeshop__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 52rem;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.menu__list_item {
  display: grid;
  grid-template-columns: max-content auto max-content;
  gap: 6rem;
  align-items: center;
}

.menu__list_item-name {
  line-height: 4rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__list_item-border {
  height: 1px;
  max-width: 10rem;
  width: 100%;
  margin-left: 2.5rem;
  background-color: $color-primary;
  justify-self: end;
}

.menu__list_item-price {
  color: $color-text-dark;
  font-family: $serif;
  line-height: 4rem;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

// OUR CONTACTS ////////////////////////////////////////////////////////////////////////////
.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

// DIGITAL LIBRARY CARDS ////////////////////////////////////////////////////////////////////////////
.section__cards .section-title {
  margin-top: -1rem;
}

.section__cards_info {
  display: flex;
  justify-content: space-between;
}

.input-card {
  box-sizing: border-box;
  display: inline-block;
  background-color: $color-primary;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  max-width: 56rem;
}

///////////////////////////////////
.form__sign {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3.5rem;
}

.form__check form {
  border: 3px solid $color-primary;
  padding: 2rem 1.8rem 2.5rem 2rem;
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
