@use "../abstracts/variables" as *;

@mixin text($size: 2rem, $height: 4rem, $weight: 400, $transform: capitalize) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  text-transform: $transform;
}

%transition {
  transition: all 0.3s ease-in-out;
}

@mixin media-tablet-land {
  // 1024px
  @media (max-width: $tablet-land-width) {
    @content;
  }
}

@mixin media-tablet-port {
  // 768px
  @media (max-width: $tablet-port-width) {
    @content;
  }
}
