@use "sass:map";
@use "breakpoints" as *;

@mixin mq($key) {
  $size: map.get($breakpoints, $key);

  @media (max-width: $size) {
    @content;
  }
}

@mixin text($font-size, $font-weight, $letter-spacing, $text-transform) {
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
}
