// FONT-FACE
$font-prim: "Inter", sans-serif;
$font-add: "Forum", serif;

// COLORS
$color-primary: #bb945f;
$color-secondary: #0c0c0e;
$color-text-dark: #000;
$color-text-light: #fff;
$color-grey: #8e8e8e;

$desktop-width: 1366px;
$tablet-land-width: 1024px;
$tablet-port-width: 768px;
$mobile-large-width: 761px;
