// FONT-FACE
$sans-serif: "Inter", sans-serif;
$serif: "Forum", serif;

// COLORS
$color-primary: #bb945f;
$color-secondary: #0c0c0e;
$color-text-dark: #000;
$color-text-light: #fff;
$color-grey: #8e8e8e;

// FONT-WEIGHT
$font-weight-normal: 400;
$font-weight-bold: 700;

// LINE-HEIGHT
$line-height-normal: 4rem;

// FONT-SIZE
$font-size-normal: 2rem;
